<mat-card class="mb-25 tagus-card">
    <mat-card-header>
        <h5 class="mb-0">Flujo de Caja</h5>
    </mat-card-header>
    <mat-card-content>
        <ul class="menu-list p-0"> <!-- Usamos una clase para el ul -->
            <li>
                <button
                    mat-raised-button
                    color="primary"
                    class="btn-sm w-100 d-block"
                    routerLink="/man/checkout"
                >
                    Caja    
                </button>
            </li>
            <li>
                <button
                    mat-raised-button
                    color="primary"
                    class="btn-sm w-100 d-block"
                    routerLink="/man/checkout/egr"
                >
                    Egresos
                </button>
            </li>
            <li>
                <button
                    mat-raised-button
                    color="primary"
                    class="btn-sm w-100 d-block"
                    routerLink="/man/checkout/ant"
                >
                    Anticipos
                </button>
            </li>
            <li>
                <button
                    mat-raised-button
                    color="primary"
                    class="btn-sm w-100 d-block"
                    routerLink="/man/checkout/bal"
                >
                    Balance del Día
                </button>
            </li>
            <li>
                <button
                    mat-raised-button
                    color="primary"
                    class="btn-sm w-100 d-block"
                    routerLink="/man/checkout/cier"
                >
                    Cierre de Caja
                </button>
            </li>
        </ul>
    </mat-card-content>
</mat-card>