<div
    class="col"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div  >
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-stretch">
                <div class="icon">
                    <i class="flaticon-credit-card-1"></i>
                </div>
                <div class="title">
                    <span class="d-block gray-color">Efectivo</span>
                    <h3>50</h3>
                </div>
            </div>
            <!-- <p class="position-relative up"><i class="flaticon-trend"></i> <span>9.5%</span> new session</p> -->
        </mat-card>
    </div>
    <div >
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon">
                    <i class="flaticon-credit-card"></i>
                </div>
                <div class="title">
                    <span class="d-block gray-color">Tarjeta</span>
                    <h3>60</h3>
                </div>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex align-items-center">
                <div class="icon">
                    <i class="flaticon-credit-cards"></i>
                </div>
                <div class="title">
                    <span class="d-block gray-color">Otros medios electrónicos</span>
                    <h3>20</h3>
                </div>
            </div>
        </mat-card>
    </div>

</div>
