<div
  class="row horizontal-cards"
  [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
<div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-stretch">
        <div class="icon">
          <i class="flaticon-growth-1"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Total Ventas</span>
          <h3>$ 21.300.000</h3>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-center">
        <div class="icon">
          <i class="flaticon-online-shop"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Total Egresos</span>
          <h3>$ 650.000</h3>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-center">
        <div class="icon">
          <i class="flaticon-people"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Total Clientes</span>
          <h3>298</h3>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-center">
        <div class="icon">
          <i class="flaticon-calendar-1"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Citas Programadas</span>
          <h3>650</h3>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div
  class="row horizontal-cards"
  [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
<div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-stretch">
        <div class="icon">
          <i class="flaticon-monitor"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Comisiones Punto</span>
          <h3>$ 10.650.000</h3>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-center">
        <div class="icon">
          <i class="flaticon-struggle"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Comisiones Staff</span>
          <h3>$ 10.650.000</h3>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-center">
        <div class="icon">
          <i class="flaticon-contract"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Total Prestamos</span>
          <h3>$ 1.500.000</h3>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card class="single-stats-box tagus-card mb-25">
      <div class="d-flex align-items-center">
        <div class="icon">
          <i class="flaticon-users-group"></i>
        </div>
        <div class="title">
          <span class="d-block gray-color">Colabroadores</span>
          <h3>6</h3>
        </div>
      </div>
    </mat-card>
  </div>
</div>

