<div
    class="row"
>
    <div class="row">
        <!-- <app-welcome-dashboard></app-welcome-dashboard> -->
         <div class="col-xl-6 col-md-12 col-sm-12">
             <app-analytics-status></app-analytics-status>
         </div>
         <div class="col-xl-6 col-md-12 col-sm-12">
             <app-analytics-stats></app-analytics-stats>
         </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-12 col-sm-12">

            <app-terminals></app-terminals>
        </div>
        <div class="col-xl-6 col-md-12 col-sm-12">
            <app-sessions-by-countries></app-sessions-by-countries>
        </div>
    </div>
</div>

<div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayout.md="column"
    fxLayoutGap="25px"
    fxLayoutGap.xs="0"
    fxLayoutGap.sm="0"
    fxLayoutGap.md="0"
>
    <div
        fxFlex="66.666666%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
        fxFlex.md="100%"
        class="col"
    >
        <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayout.sm="column"
            fxLayoutGap="25px"
            fxLayoutGap.xs="0"
            fxLayoutGap.sm="0"
        >
            <div
                fxFlex="66.666666%"
                fxFlex.xs="100%"
                fxFlex.sm="100%"
                class="row"
            >
                <div class="col-12">
                    <app-analytics-audience-overview></app-analytics-audience-overview>
                </div>
            </div>
            <div
                fxFlex="33.333333%"
                fxFlex.xs="100%"
                fxFlex.sm="100%"
                class="col"
            >
            <div
                class="d-flex flex-wrap justify-content-between"
            >
                <div
                    class="col-xl-2 col-md-5 col-sm-12"
                >
                    <app-new-vs-returing></app-new-vs-returing>
                </div>
                <div
                    class="col-xl-2 col-md-5 col-sm-12"
                >
                    <app-analytics-gender></app-analytics-gender>
                </div>
                <div
                    class="col-xl-2 col-md-5 col-sm-12"
                >
                    <app-visitors-age></app-visitors-age>
                </div>
                <div
                    class="col-xl-2 col-md-5 col-sm-12"
                >
                    <app-analytics-language></app-analytics-language>
                </div>
                <div
                    class="col-xl-2 col-md-5 col-sm-12"
                >
                    <app-sessions-device></app-sessions-device>
                </div>
            </div>
                <!-- <app-analytics-total-revenue></app-analytics-total-revenue>
                <app-revenue-report></app-revenue-report>
                <app-analytics-activity></app-analytics-activity>
                <app-sales-analyticsUno></app-sales-analyticsUno> -->
            </div>
        </div>

        <!-- <app-browser-used-traffic-reports></app-browser-used-traffic-reports> -->
    </div>

    <div
        fxFlex="33.333333%"
        fxFlex.xs="100%"
        fxFlex.sm="100%"
        fxFlex.md="100%"
        class="col"
    >
        <!-- <app-sessions-by-countries></app-sessions-by-countries> -->
        <!-- <app-total-transactions></app-total-transactions> -->


    </div>
</div>


