<div
    class="h-100vh pt-50 pb-50"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="logout-box text-center bg-white border-radius ms-auto me-auto" >
                <!-- <div class="logo">
                    <img src="assets/img/logo.png" alt="logo">
                </div> -->
                <div class="logo white-logo">
                    <img src="assets/img/Kalos_Contorno.png" alt="logo">
                </div>
                <img src="assets/img/Kalos_Small.png" alt="coffee" *ngIf="!activeView">
                <mat-spinner style="margin-left: 200px;" *ngIf="activeView"></mat-spinner>
                <h5 class="fw-semibold mb-12" *ngIf="!activeView">{{msg}}</h5>
                <p  *ngIf="!activeView">Gracias por usar <span class="fw-semibold">Kalos</span></p>
                <!-- <a mat-flat-button class="tagus d-block fw-semibold" routerLink="/authentication/login">Ingresar</a> -->
            </div>
        </div>

    </div>
</div>
<div class="flex bg-white justify-content-center">
        <mat-spinner class="ml-10 justify-content-center"></mat-spinner>
</div>
