<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{ active: isToggled }"
    [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()"
    [class.hide-sidebar]="themeService.isHideSidebar()"
>
    <div class="logo bg-white text-center">
        <div class="d-flex align-items-center">
            <a routerLink="/" class="w-100">
                <img
                    src="../../../../assets/icons/50x50.png"
                    alt="logo"
                    [ngClass]="{
                        widthToogleIcon: !isToggled,
                        widthnoToogleIcon: isToggled
                    }"
                />
                <span class="ps-0 ms-0" *ngIf="!isToggled">alos</span>
            </a>
        </div>
    </div>
    <div
        class="burger-menu"
        (click)="toggle()"
        [ngClass]="{ active: isToggled }"
    >
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" class="mt-3" style="height: 100vh">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title gray-color">Menu</span>
                    <mat-expansion-panel
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = true"
                        *ngFor="let menu of menuItems; let i = index"
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="{{ menu.icontype }}"></i>
                                <span class="title">{{ menu.title }}</span>
                                <!--  <span class="badge">{{menu.childs.length}}</span> -->
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li
                                class="sidemenu-item"
                                *ngFor="
                                    let submenu of menu.children;
                                    let i = index
                                "
                            >
                                <a
                                    [routerLink]="submenu.path"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{ exact: true }"
                                    class="sidemenu-link"
                                >
                                    {{ submenu.title }}
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
