<!-- Modal -->

<div
    class="row justify-content-center"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card class="example-card">
        <div class="container-fluid">
            <h3 class="text-center mt-3">Agendar Servicio</h3>

            <mat-card-content *ngIf="startServiceform">
                <form [formGroup]="startServiceform">
                    <div class="row">
                        <div class="col-4">
                            <app-selectbussines
                                [branchoffices]="branchoffices"
                                [ctr]="getBussinesNameCtr()"
                                (businessSelected)="businessSelected($event)"
                            ></app-selectbussines>
                        </div>
                        <div class="col-4">
                            <app-selectservices
                                [Servicios]="servicesManager"
                                (serviceSelected)="serviceSelected($event)"
                            ></app-selectservices>
                        </div>
                        <div class="col-4">
                            <app-select-type-services
                                [typeServices]="typeServices"
                                [ctr]="getTypeServicesCtr()"
                                (typeServiceSelected)="
                                    typeServiceSelected($event)
                                "
                            ></app-select-type-services>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <app-selectcollaborator
                                [idbusiness]="
                                    startServiceform.get('business')?.value
                                "
                                [tradename]="
                                    startServiceform.get('businessName')?.value
                                "
                                [services]="
                                    startServiceform.get('services')?.value
                                "
                                [ctr]="getStaffCtr()"
                                (collaSelected)="collaSelected($event)"
                            ></app-selectcollaborator>
                        </div>
                        <div class="col-4">
                            <app-select-date-service
                                (dateSelected)="daySelected($event)"
                                [days]="days"
                            ></app-select-date-service>
                        </div>
                        <div class="col-4">
                            <app-select-hours-service
                                [ctr]="getTimeService()"
                                [business]="
                                    startServiceform.get('business')?.value
                                "
                                [tradename]="
                                    startServiceform.get('businessName')?.value
                                "
                                [staff]="startServiceform.get('staff')?.value"
                                [dateService]="
                                    startServiceform.get('dateService')?.value
                                "
                                (hourSelected)="hourSelected($event)"
                            >
                            </app-select-hours-service>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <app-emailuser
                                [emailctr]="getEmail()"
                                [label]="'Email'"
                                (userSelected)="userSelected($event)"
                            ></app-emailuser>
                            <!--  <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="emailUser" />
                            </mat-form-field> -->
                        </div>
                        <div class="col-6">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Observación</mat-label>
                                <input
                                    matInput
                                    formControlName="observationManager"
                                />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions class="mb-3">
                <button mat-button (click)="closeDialog()">Cerrar</button>
                <button
                    mat-raised-button
                    class="tagus"
                    [disabled]="startServiceform.invalid"
                    (click)="createService()"
                >
                    Crear Servicio
                </button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>
