<div class="row justify-content-center" [class.component-dark-theme]="themeService.isDark()"
  [class.component-rtl-enabled]="themeService.isRTLEnabled()">
  <mat-card class="example-card">
    <div class="container-fluid">
      <h3 class="text-center mt-3">Iniciar Servicio</h3>

      <mat-card-content>
        <form [formGroup]="startServiceform">

          <div class="row">
            <div class="col-12">
              <mat-form-field class="w-100">
                <mat-label>Comentarios</mat-label>
                <textarea matInput placeholder="" formControlName="observacion"></textarea>
              </mat-form-field>
            </div>
          </div>




          <div class="row">
            <div class="col-12">
              <button mat-button type="button" color="secondary" (click)="agregarServicio()">
                Agregar servicio
              </button>
            </div>
          </div>
          <div formArrayName="servicio">
            <div *ngIf="startServiceform.get('servicio') as servicio">
              <div *ngFor=" let servicio of servicioArray.controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row mt-3 ">
                    <div class="col-5">
                      <div>
                        <mat-form-field class="w-100 mt-2">
                          <mat-label>Descripción del
                            servicio</mat-label>
                          <input type="text" matInput formControlName="serviceName" placeholder="" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-5">
                      <mat-form-field class="mt-2 w-100">
                        <mat-label>Costo del
                          servicio</mat-label>
                        <input type="number" matInput formControlName="CostService" placeholder="" />
                      </mat-form-field>

                    </div>
                    <div class="col-2">
                      <div class="text-center mt-4">
                        <button type="button" class="btn btn-info btn-block" (click)="eliminarServicio(i)">
                          Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <button mat-button type="button" color="secondary" (click)="agregarSuministros()">
                Agregar Suministros
              </button>
            </div>
          </div>

          <div formArrayName="supplies">
            <div *ngIf="startServiceform.get('supplies') as suppliesArray">
              <div *ngFor=" let suministro of suministrosArray.controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row mt-3 ">
                    <div class="col-2">
                      <div>
                        <mat-form-field class="w-100 mt-2">
                          <mat-label>Producto</mat-label>
                          <input type="text" matInput formControlName="product" placeholder="" />
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-2">
                      <mat-form-field class="mt-2 w-100">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput formControlName="brand" placeholder="" />
                      </mat-form-field>

                    </div>
                    <div class="col-2">
                      <mat-form-field class="mt-2 w-100">
                        <mat-label>Referencia</mat-label>
                        <input type="text" matInput formControlName="reference" placeholder="" />
                      </mat-form-field>

                    </div>
                    <div class="col-2">
                      <mat-form-field class="mt-2 w-100">
                        <mat-label>Descripcion</mat-label>
                        <input type="text" matInput formControlName="description" placeholder="" />
                      </mat-form-field>

                    </div>
                    <div class="col-2">
                      <mat-form-field class="mt-2 w-100">
                        <mat-label>Precio</mat-label>
                        <input type="number" matInput formControlName="suppliesPrice" placeholder="" />
                      </mat-form-field>

                    </div>
                    <div class="col-2">
                      <div class="text-center mt-4">
                        <button type="button" class="btn btn-info btn-block" (click)="eliminarSuministro(i)">
                          Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </mat-card-content>
      <mat-card-actions class="mb-3">
        <button mat-button (click)="startService()">
          Iniciar Servicio
        </button>
        <button mat-button (click)="closeDialog()">Cerrar</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>