<div
    class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between"
>
    <h5 class="mb-0">Ver Insumos</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item fw-semibold">User</li>
        <li class="breadcrumb-item fw-semibold">Insumos</li>
    </ol>
</div>

<div
    class="row justify-content-center"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="col-lg-12 col-xl-12 col-md-12">
        <mat-card class="mb-25 tagus-card">
            <mat-card-header>
                <h5 class="mb-0">Insumos</h5>
            </mat-card-header>
            <mat-card-content>
                <div class="mat-elevation-z8 tagus-mat-table">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Order ID Column -->
                        <ng-container matColumnDef="item">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-start"
                            >
                                Item
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element; let index = index"
                                class="fw-semibold text-start"
                            >
                                {{ index + 1 }}
                            </td>
                        </ng-container>

                        <!-- Product Column -->
                        <ng-container matColumnDef="Colaborador">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-start"
                            >
                                Nombre Solicitante
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="text-start"
                            >
                                {{ element.businessUser?.fullName }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Editar">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-start"
                            ></th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="text-start"
                            >
                                <button
                                    mat-icon-button
                                    matTooltip="Editar Turnos"
                                    aria-label="expand row"
                                    (click)="
                                        openModalseeSupplies(
                                            '300ms',
                                            '100ms',
                                            element
                                        )
                                    "
                                    [disabled]="buttonEdit"
                                >
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <!-- <button
                                    mat-icon-button
                                    matTooltip="Generar Permisos"
                                    aria-label="expand row"
                                    (click)="
                                        openModalPermisos(
                                            '300ms',
                                            '100ms',
                                            element
                                        )
                                    "
                                    [disabled]="buttonAdd"
                                >
                                    <mat-icon>note_add</mat-icon>
                                </button> -->
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <mat-paginator
                        [pageSizeOptions]="[10, 15, 20]"
                        showFirstLastButtons
                    >
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
