<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Citas</h5>
    <div class="btn-box">
        <a mat-flat-button (click)="CreateUserDialog('300ms', '100ms')" class="tagus">Agendar nueva cita</a>
    </div>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/">
                <i class="ri-home-8-line"></i>
                Manager
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">Citas</li>
    </ol>
</div>

<div
    class="grid justify-content-center"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <!-- <div class="col-lg-4 col-xl-3 col-md-12">
        <mat-card class="mb-25 tacking-box tagus-card">
            <mat-card-header class="border-bottom">
                <h5 class="mb-0">Historico de citas</h5>
            </mat-card-header>
            <mat-card-content class="" style="overflow-y:auto; height: 400px !important;">
                <ul class="track-list ps-0 mb-0">
                    <li class="position-relative" *ngFor="let hist of hists;  let i = index;">
                        <h5 class="mb-10 fw-semibold">{{hist.services[0].nameService}}</h5>
                        <h6 class="mb-10 fw-semibold">Colaborador: {{hist.services[0].staffServices[0].nameCollaborator}} - {{hist.business.nameBusiness}}</h6>
                        <span class="d-block gray-color mb-10">{{hist.appointmentDate[0].dateService}}</span>
                        <p>{{hist.services[0].nameTypeService}}</p>
                        <hr>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div> -->
    <div class="col-lg-12 col-xl-12 col-md-12" >
        <mat-card class="mb-25 tagus-card w-auto">
            <mat-card-header>
                <h5 class="mb-0">Próximas citas</h5>
                <div class="d-flex align-items-center">
                    <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                        <mat-button-toggle value="1" (click)="GetCitas(1)">Citas semana</mat-button-toggle>
                        <mat-button-toggle value="2" (click)="GetCitas(2)">Citas dia</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="d-flex align-items-center">
                    <form class="search-box position-relative d-none d-md-block">
                        <input type="text" class="input-search d-block" (keyup)="applyFilter($event)" placeholder="Buscar...">
                        <button type="submit"><i class="ri-search-line"></i></button>
                    </form>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="mat-elevation-z8 tagus-mat-table" >
                    <table mat-table [dataSource]="dataSource">
                        <!-- Product Column -->
                        <ng-container matColumnDef="product">
                            <th mat-header-cell *matHeaderCellDef class="text-start">Servicio</th>
                            <td mat-cell *matCellDef="let element" class="text-start">
                                <a routerLink="" class="d-flex align-items-center product-info">
                                    {{element.services[0].nameTypeService}}
                                </a>
                            </td>
                        </ng-container>

                        <!-- Price Column -->
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef>Precio</th>
                            <td mat-cell *matCellDef="let element">${{element.services[0].servicePrice | currency:'COP':'symbol':'4.2-2'}}</td>
                        </ng-container>

                        <!-- Vendor Column -->
                        <ng-container matColumnDef="vendor">
                            <th mat-header-cell *matHeaderCellDef>Colaborador</th>
                            <td mat-cell *matCellDef="let element">{{element.services[0].staffServices[0].nameCollaborator}}</td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Fecha</th>
                            <td mat-cell *matCellDef="let element">{{element.appointmentDate[0].dateService }} {{element.appointmentDate[0].timeService}}</td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Estado</th>
                            <td mat-cell *matCellDef="let element">
                                <span class="badge" *ngIf="element.appointmentStatus === 'true'">Pendiente</span>
                                <span class="badge outOfStock" *ngIf="element.appointmentStatus === 'false'">Cancelado</span>
                                <!-- <span class="badge delivered" *ngIf="element.status.delivered">{{element.status.delivered}}</span> -->
                            </td>
                        </ng-container>

                        <!-- Edit Column -->
                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <div class="text-end">
                                    <button type="submit" mat-raised-button color="primary" (click)="openCreateUserDialog('300ms', '100ms', element)"><i class="ri-add-fill"></i> Editar</button>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <div class="text-end">
                                    <button mat-raised-button type="button" color="warn" (click)="CloseAppointment(element)"><i class="ri-close-fill"></i> Eliminar cita</button>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Start Column -->
                        <ng-container matColumnDef="start">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element">
                                <div class="text-end">
                                    <button mat-raised-button color="warn" (click)="StartStopService(element, 2)" *ngIf="!element.startStop"><i class="ri-close-fill"></i> Stop</button>
                                    <button mat-raised-button [class.greenClass]="startStop" (click)="StartStopService(element, 1)" *ngIf="element.startStop"><i class="ri-add-fill"></i> Start</button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row
                            class="row-data"
                            style="cursor:pointer"
                            *matRowDef="let row; columns: displayedColumns;"
                            >
                        </tr>
                    </table>
                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 15, 20]"
                        showFirstLastButtons
                    >
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
