<div
    [ngClass]="{'blank-page': router.url === '/error-500' || router.url === '/auth/reset-password' || router.url === '/auth/forgot-password' || router.url === '/auth/login' || router.url === '/auth/register' || router.url === '/auth/signin-signup' || router.url === '/auth/logout' || router.url === '/auth/confirm-mail' || router.url === '/auth/lock-screen'}"
    [class.dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
        <router-outlet></router-outlet>
    <!-- <app-customizer-settings></app-customizer-settings> -->
</div>
