<mat-card
    class="mb-25 tagus-card top-instructors-box"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header class="grid border-bottom">
        <h5 class="mb-0">Programar cita</h5>
        <button
            mat-raised-button
            class="mt-4 mb-4 col-span-3"
            color="primary"
            (click)="AgendarCita()"
            [disabled]="formGroup.invalid"
        >
            Agendar
        </button>
    </mat-card-header>
    <mat-card-content>
        <div class="instructors-list d-flex flex-wrap">
            <div class="row">
                <div class="col-6">
                    <app-select-date-service
                        (dateSelected)="daySelected($event)"
                        [days]="days"
                    ></app-select-date-service>
                </div>
                <div class="col-4">
                    <app-select-hours-service
                        [ctr]="hourctr"
                        [business]="businessID"
                        [tradename]="tradename"
                        [staff]="staff"
                        [dateService]="dateService.value"
                        (hourSelected)="hourSelected($event)"
                    >
                    </app-select-hours-service>
                </div>
            </div>

            <!-- <div class="row w-full mb-3">
                    <mat-card class="mb-3" *ngFor="let app of appoimentAdd">
                        <tr class="w-full">
                            <td WIDTH="200" HEIGHT="20">
                                <span>{{app.name}} {{app.lastname}}</span>
                            </td>
                            <td WIDTH="200" HEIGHT="20">
                                <span>{{app.date}}</span>
                            </td>
                            <td WIDTH="200" HEIGHT="20">
                                <span>{{app.hour}}</span>
                            </td>
                            <td WIDTH="200" HEIGHT="20">
                                <span>{{app.Service.typeService}}</span>
                            </td>
                            <td WIDTH="200" HEIGHT="20">
                                <div class="text-end my-5 ml-5">
                                    <button mat-raised-button class="mt-4 mb-4" (click)="DeleteService(app)" color="warn"> Eliminar </button>
                                </div>
                            </td>
                        </tr>
                    </mat-card>
                </div> -->
        </div>
    </mat-card-content>
</mat-card>
