<div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxLayoutGap="25px"
    fxLayoutGap.xs="0"
    fxLayoutGap.sm="0"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div
        fxFlex="10%"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        class="col"
        *ngFor="let i of services"
    >
        <mat-card
            class="single-stats-box tagus-card mb-10"
            (click)="selectedService(i)"
            [ngClass]="{ 'selected-service': i.name === service }"
        >
            <div class="d-flex align-items-center">
                <div class="icon">
                    <i class="flaticon-goal custom-icon"></i>
                </div>
                <div class="title">
                    <h3>4</h3>
                    <span class="gray-color d-block">{{ i.name }}</span>
                </div>
            </div>
        </mat-card>
    </div>
</div>
