<div
    class="h-100vh pt-50 pb-20"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    style="overflow-y:scroll"
    >
    <div class="d-table mr-150">
        <div class="d-table-cell" >
            <div class="tagus-form ms-auto me-auto">
                <div class="title">
                    <div class="d-flex mb-10 align-items-center">
                        <h2 class="mb-0 me-30">Restablecer la contraseña</h2>
                        <img src="assets/img/logo-icon.png" alt="logo-icon">
                    </div>
                    <p>Su nueva contraseña debe ser diferente de las contraseñas utilizadas anteriormente</p>
                </div>
                <form [formGroup]="resetPassForm">
                    <div class="bg-white border-radius pt-20 ps-20 pe-20">
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Ingrese el código para generar el cambio<span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Ingrese el código para generar el cambio</mat-label>
                                <input id="code" matInput [formControlName]="'codValidateUser'">
                                <mat-error *ngIf="resetPassForm.get('codValidateUser')?.hasError('required')">
                                    codigo es requerido requeridos
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Nueva Contraseña <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Ingrese su Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'pass'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Confirmar Contraseña<span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Ingrese su Contraseña</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'validationPass'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <!-- <div class="row">

                                <div class="progress col-md-2 ml-3" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Example 1px high" [style.width.%]="resetPassForm.get('pass')?.value == '' ? 0 : validarMayus() == true  ? 100 : 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress col-md-2 ml-3" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Example 1px high" [style.width.%]="resetPassForm.get('pass')?.value == '' ? 0 : validarNumber() == true ? 100 : 0" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress col-md-2 ml-3" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Example1 1px high" [style.width.%]="resetPassForm.get('pass')?.value == '' ? 0 : validarChar() == true ? 100 : 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress col-md-2 ml-3" style="height: 5px;">
                                    <div class="progress-bar bg-success" role="progressbar" aria-label="Example2 1px high" [style.width.%]="resetPassForm.get('pass')?.value == '' ? 0 : MatchPassword() == true ? 100 : 0" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div> -->

                               <!--  <p *ngIf="!validarMayus()" class="infoOk text-end" style="margin-top: 10px !important">
                                    Debe tener al menos una mayúscula
                                </p>
                                <p *ngIf="!validarNumber()" class="infoOk text-end" style="margin-top: 10px !important">
                                    Debe tener al menos un número
                                <p *ngIf="!validarChar()" class="infoOk text-end" style="margin-top: 10px !important">
                                    Debe tener al menos un caracter especial
                                </p> -->
                                <p *ngIf="!MatchPassword()" class="infoOk text-end" style="margin-top: 10px !important">
                                    Contraseñas no coinciden
                                </p>

                                <p *ngIf="resetPassForm.get('pass')?.value.length == 0" class="infoError text-end" style="margin-top: 10px !important">
                                El campo es requerido
                                </p>

                                <p *ngIf="MatchPassword()" class="infoOk text-end" style="margin-top: 10px !important">
                                Las contraseñas coinciden
                                </p>
                        </div>

                    </div>
                    <button mat-flat-button [disabled]="resetPassForm.invalid"
                    (click)="resetPassword()" class="tagus d-block fw-semibold">Establecer nueva contraseña</button>
                    <div class="text-center back-to-login">
                        <a routerLink="/auth/login" class="d-inline-block main-color fw-medium position-relative"><i class="flaticon-chevron-1"></i>Regresar a Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
