<div
    class="h-100vh pt-50 pb-50"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-borderd-theme]="themeService.isCardBorder()"
    [class.card-border-radius]="themeService.isCardBorderRadius()"
>
    <div class="d-table">
        <div class="d-table-cell" *ngIf="activeView">
            <div class="logout-box text-center bg-white border-radius ms-auto me-auto">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="logo">
                </div>
                <div class="logo white-logo">
                    <img src="assets/img/white-logo.png" alt="logo">
                </div>
                <img src="assets/img/icon/mail.png" alt="mail">
                <h5 class="fw-semibold mb-12">{{error ? 'Error al hacer la activación del usuario' : 'Super, Usuario activado!!!'}}</h5>
                <p>{{error ? msm : 'Inicie sesión para ingresar a la plataforma'}}</p>
                <a mat-flat-button class="tagus d-block fw-semibold" routerLink="/">Ir a login</a>
            </div>
        </div>
        <div class="d-table-cell" *ngIf="!activeView">
            <div class="logout-box text-center bg-white border-radius ms-auto me-auto">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="logo">
                </div>
                <div class="logo white-logo">
                    <img src="assets/img/white-logo.png" alt="logo">
                </div>
                <img src="assets/img/icon/mail.png" alt="mail">
                <h5 class="fw-semibold mb-12">Verifique su correo para validar su usuario</h5>
                <a mat-flat-button class="tagus d-block fw-semibold" routerLink="/">Ir a login</a>
            </div>
        </div>
    </div>
</div>
