<mat-card
    class="mb-25 tagus-card total-revenue-box"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Calificaciones de Servicios</h5>
        <button type="button" mat-button class="position-relative dot-btn p-0 bg-transparent border-none" [matMenuTriggerFor]="monthMenu">
            <i class="ri-more-fill"></i>
        </button>
        <mat-menu #monthMenu="matMenu" class="monthMenu" xPosition="before">
            <button mat-menu-item type="button" class="bg-transparent border-none">Hoy</button>
            <button mat-menu-item type="button" class="bg-transparent border-none">Mes Anterior</button>
            <!-- <button mat-menu-item type="button" class="bg-transparent border-none">Año Pasado</button>
            <button mat-menu-item type="button" class="bg-transparent border-none">Todas</button> -->
        </mat-menu>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <apx-chart
                [series]="chartOptions.series!"
                [chart]="chartOptions.chart!"
                [plotOptions]="chartOptions.plotOptions!"
                [labels]="chartOptions.labels!"
                [colors]="chartOptions.colors!"
            ></apx-chart>
        </div>
        <ul class="list mb-0 ps-0">
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">Calificacion de Instalaciones</span>
                <div class="info d-flex align-items-center justify-content-center">
                    <span class="gray-color fw-semibold">972</span>
                    <span class="gray-color"><i class="flaticon-trend"></i> 49%</span>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">Conocimiento del Profesional</span>
                <div class="info d-flex align-items-center justify-content-center">
                    <span class="gray-color fw-semibold">1026</span>
                    <span class="gray-color down"><i class="flaticon-trend"></i> 45%</span>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">Tiempo de espera</span>
                <div class="info d-flex align-items-center justify-content-center">
                    <span class="gray-color fw-semibold">286</span>
                    <span class="gray-color down"><i class="flaticon-trend"></i> 42%</span>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-space-between position-relative">
                <span class="gray-color">Amabilidad del Profesional</span>
                <div class="info d-flex align-items-center justify-content-center">
                    <span class="gray-color fw-semibold">972</span>
                    <span class="gray-color"><i class="flaticon-trend"></i> 28%</span>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>