<div fxFlex="33.333333%" fxFlex.xs="100%" class="col">
    <mat-card class="single-stats-box tagus-card mb-25">
        <div class="d-flex justify-content-space-between align-items-center">
            <div class="title">
                <h3>$100.5M</h3>
                <span class="d-block gray-color">Total Orders</span>
            </div>
            <div class="icon">
                <i class="flaticon-goal"></i>
            </div>
        </div>
        <p class="position-relative up">
            <i class="flaticon-trend"></i> <span>0.5%</span> Up from past week
        </p>
    </mat-card>
</div>
