<app-header></app-header>

<app-container [titulo]="'Balance de Caja Diario'">
  <table class="balance-table">
    <tbody>
      <!-- Fila principal para cada ítem -->
      <tr *ngFor="let item of balanceData">
        <td class="balance-item-name">{{ item.name }}</td>
        <td class="balance-item-value" [ngClass]="getBalanceClass(item.value)">
          {{ item.value | currency:'COP':'symbol':'1.0-0' }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Tabla para los hijos al final -->
  <table class="sub-balance-table">
    <tbody>
      <ng-container *ngFor="let item of balanceData">
        <ng-container *ngIf="item.children && item.children.length > 0">
          <tr *ngFor="let child of item.children">
            <td class="balance-item-name" style="padding-left: 20px;">{{ child.name }}</td>
            <td class="balance-item-value" [ngClass]="getBalanceClass(child.value)">
              {{ child.value | currency:'COP':'symbol':'1.0-0' }}
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</app-container>

